openapi:
  apartment:
    base-url: http://openapi.molit.go.kr
    data-url: OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMS[…]vcAptTradeDev
    service-key: Ppn69ItLLyZSvBKsgJR8mn9up4T2ZciNqvpUWXpGA7kThhqPDVJN4Om7h8B2XqP6W%2FR6dt3U86rY4eBR4YIQXw%3D%3D

app:
  jwt:
    secret: DaeguGreenArtAcademyClass502RoomForJavaSpringBootFighting #JWT를 만들때 사용하는 키 , 길이가 짧으면 에러 남 #자바코드로 사용하고 싶을경우를 위해, 관리하기 편해서 작성함
    header-scheme-name: authorization
    token-type: Bearer
    access token-expiry: 7200000 #2시간 상수처럼 값을 가져다 사용
    refresh-token-expiry: 1296000000 #15일
file:
  dir: D:/download/greengram4/
  #dir: 개발할때 사용
#@Value("${file.dir}")
logging:
  level:
    jdbc:
      sqlonly: off
      sqltiming: info
      resultsettable: info
      audit: off
      resultset: off
      connection: off

spring:
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 15MB
  datasource:
    # driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:log4jdbc:mariadb://localhost:3306/greengram5
    username: root
    password: green502
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy

  security:
    oauth2:
      client:
        registration:
          google:
            clientId: asdf
            clientSecret: sasdf
            scope:
              - email
              - profile
          facebook:
            clientId: asdf
            clientSecret: asdf
            scope:
              - email
              - public_profile
          naver:
            client-id: 2_lmYlB6RrfFeo7LjTkT
            client-secret: POjyz0kYFY
            #clientAuthenticationMethod: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/naver
            scope:
              - name
              - email
              # - profile_image
            client-name: Naver
          kakao:
            client-id: 50bd4109e5e9e782e286e3313c493d4a
            client-secret: GDBPPG44uxTfWwUsS6hC4N29nwUBmRu3
            clientAuthenticationMethod: client_secret_post
            authorizationGrantType: authorization_code
            #redirectUri: "{baseUrl}/{action}/oauth2/code/{registrationId}"
            redirectUri: http://localhost:8080/login/oauth2/code/kakao
            scope:
              - profile_nickname
              - profile_image
            clientName: Kakao
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          kakao:
            authorizationUri: https://kauth.kakao.com/oauth/authorize
            tokenUri: https://kauth.kakao.com/oauth/token
            userInfoUri: https://kapi.kakao.com/v2/user/me
            userNameAttribute: id

mybatis:
  mapper-locations: mappers/**/*.xml

springdoc:
  swagger-ui:
    path: /swagger.html

fcm:
  certification: serviceAccountKey.json

---


spring:
  config:
    activate:
      on-profile: "prod1" #프로필 이름지정


file:
  dir: /home/download/
server:
  port: 8081

---
spring:
  config:
    activate:
      on-profile: "prod2" #프로필 이름지정
server:
  port: 8082

    #--- 아래는 프로필로 개발당시에사용하는 속성과 실제로 자르파일로 만들어서 실행하는 것을 다르게 하고싶을때 사용
    #원래는 사용하기 직전에 url에 자르파일로 만들고 또 개발할때 변경을 해야하는데ㅐ
    #--- 아래 는 실행할 댸 사용
    #prod로 실행 할 경우 작성되있는 것 외는 디폴트(---위에 작성한 것)를 실행함
    #아래는 프로필(= 실행할때와 개발할때 다른곳이나 다르게 사용하는 것 )이고 프로필에 이름을 줄 수 있다
    # --- : 위와 아래의 경계, ---옆이나 바로 위,아래는 오류발생
    #변경하는것만 작성 디폴트는 위내용을 알아서 사용함
    #배포할때는 다른포트로 사용할 경우
   #프로필은 여러개 만들수 있다.
   #테스트용 배포용을 나눠서 사용